.app-from{
    margin: 50px 300px;
 }
.app-from input{
    display: block;
    padding: 10px 0;
    margin-top: 30px;
    border: 1px solid rgb(212, 195, 40);
    border-radius: 5px;
    width: 100%;
}
.error{
    color: red;
}